Feature Encoding techniques (label encoding, one hot encoding)

Why Feature Encoding is Needed

   - Machine learning algorithms work with numbers, not text. So if your dataset has categorical features (like “Color = Red, Blue, Green” or “Gender = Male/Female”), we need to convert them into numeric values. This process is called feature encoding.

1. Label Encoding

   - Definition:
        - Label encoding converts each unique category into a unique integer.

   - How it works:
         - Suppose we have a column “Color”:

Color
Red
Blue
Green
Blue

    After Label Encoding:

         Color	Encoded
          Red	  2
          Blue	  0
          Green	  1
          Blue	  0


Pros:

 - Simple and fast.
 - Works well for ordinal data (where order matters, e.g., “Low, Medium, High”).

Cons:

 - Can mislead algorithms if categories are non-ordinal, because numbers imply order. For example, 0 < 1 < 2 might be misinterpreted as “Blue < Green < Red” numerically.

2. One-Hot Encoding

Definition:
One-hot encoding creates a binary column for each category. A value of 1 indicates the presence of that category, and 0 otherwise.

Example: Using the same “Color” column:

Color
Red
Blue
Green
Blue

  After One-Hot Encoding:

     Red	Blue	Green
      1	      0	      0
      0	      1       0
      0	      0	      1
      0	      1	      0

Pros:

  - Avoids misleading algorithms since it doesn’t assume any order.
   - Works well for nominal data (no inherent order, like color, city, brand).

Cons:
   - Can increase feature space a lot if the category has many unique values (high cardinality).

In [2]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.8.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.24.1 in c:\internship\.venv\lib\site-packages (from scikit-learn) (2.4.1)
Collecting scipy>=1.10.0 (from scikit-learn)
  Downloading scipy-1.17.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.3.0 (from scikit-learn)
  Downloading joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Collecting threadpoolctl>=3.2.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.8.0-cp312-cp312-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   ------- -------------------------------- 1.6/8.0 MB 9.4 MB/s eta 0:00:01
   ------------- -------------------------- 2.6/8.0 MB 6.9 MB/s eta 0:00:01
   ---------------- ----------------------- 3.4/8.0 MB 6.9 MB/s eta 0:00:01
   ------------------ --------------------- 3.7/8.0 MB 5.6 MB/s eta 0:00:01
   -------------------- ------------------- 4.2/8.0 MB 4.2 MB/s eta 0:00:01
   ---------------------- ----------------- 4.5/8.0 MB 3.5 MB/s eta 0:00:02
   ---------------------- ----------------- 4.5/8.0 MB 3.5 MB/s eta 0:00:02
   ------------------------ --------------- 5.0/8.0 MB 3.1 MB/s eta 0:00:01
   --------------------------- ------------ 5.5/8.0 MB 3.0 MB/s eta 0:00:01
   ------------------------------ --------- 6.0/8.0 MB 3.0 MB/s eta 0:00:01
   --------------------------------- ------ 6.8/8.0 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.0 MB 2.9 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.0 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 2.8 MB/s  0:00:02
Downloading joblib-1.5.3-py3-none-any.whl (309 kB)
Downloading scipy-1.17.0-cp312-cp312-win_amd64.whl (36.3 MB)
   ---------------------------------------- 0.0/36.3 MB ? eta -:--:--
   ---------------------------------------- 0.3/36.3 MB ? eta -:--:--
    --------------------------------------- 0.5/36.3 MB 2.1 MB/s eta 0:00:18
   - -------------------------------------- 1.0/36.3 MB 1.8 MB/s eta 0:00:20
   - -------------------------------------- 1.6/36.3 MB 2.0 MB/s eta 0:00:18
   -- ------------------------------------- 2.1/36.3 MB 2.2 MB/s eta 0:00:16
   --- ------------------------------------ 2.9/36.3 MB 2.3 MB/s eta 0:00:15
   --- ------------------------------------ 3.4/36.3 MB 2.4 MB/s eta 0:00:14
   ---- ----------------------------------- 3.7/36.3 MB 2.4 MB/s eta 0:00:14
   ---- ----------------------------------- 3.9/36.3 MB 2.3 MB/s eta 0:00:14
   ---- ----------------------------------- 4.2/36.3 MB 2.0 MB/s eta 0:00:16
   ---- ----------------------------------- 4.5/36.3 MB 1.9 MB/s eta 0:00:17
   ----- ---------------------------------- 4.7/36.3 MB 1.9 MB/s eta 0:00:17
   ----- ---------------------------------- 5.2/36.3 MB 1.9 MB/s eta 0:00:17
   ------ --------------------------------- 5.8/36.3 MB 2.0 MB/s eta 0:00:16
   ------- -------------------------------- 6.6/36.3 MB 2.1 MB/s eta 0:00:15
   ------- -------------------------------- 6.8/36.3 MB 2.1 MB/s eta 0:00:15
   -------- ------------------------------- 7.6/36.3 MB 2.1 MB/s eta 0:00:14
   -------- ------------------------------- 8.1/36.3 MB 2.2 MB/s eta 0:00:14
   --------- ------------------------------ 8.7/36.3 MB 2.2 MB/s eta 0:00:13
   ---------- ----------------------------- 9.2/36.3 MB 2.2 MB/s eta 0:00:13
   ---------- ----------------------------- 9.7/36.3 MB 2.2 MB/s eta 0:00:13
   ----------- ---------------------------- 10.2/36.3 MB 2.2 MB/s eta 0:00:12
   ----------- ---------------------------- 10.7/36.3 MB 2.3 MB/s eta 0:00:12
   ------------ --------------------------- 11.3/36.3 MB 2.3 MB/s eta 0:00:12
   ------------ --------------------------- 11.5/36.3 MB 2.3 MB/s eta 0:00:11
   ------------- -------------------------- 12.1/36.3 MB 2.2 MB/s eta 0:00:11
   ------------- -------------------------- 12.3/36.3 MB 2.2 MB/s eta 0:00:11
   -------------- ------------------------- 12.8/36.3 MB 2.2 MB/s eta 0:00:11
   -------------- ------------------------- 13.4/36.3 MB 2.2 MB/s eta 0:00:11
   --------------- ------------------------ 13.9/36.3 MB 2.2 MB/s eta 0:00:11
   ---------------- ----------------------- 14.7/36.3 MB 2.3 MB/s eta 0:00:10
   ---------------- ----------------------- 15.2/36.3 MB 2.3 MB/s eta 0:00:10
   ----------------- ---------------------- 15.7/36.3 MB 2.3 MB/s eta 0:00:09
   ----------------- ---------------------- 16.0/36.3 MB 2.3 MB/s eta 0:00:09
   ------------------ --------------------- 16.5/36.3 MB 2.3 MB/s eta 0:00:09
   ------------------ --------------------- 17.0/36.3 MB 2.3 MB/s eta 0:00:09
   ------------------- -------------------- 17.3/36.3 MB 2.2 MB/s eta 0:00:09
   ------------------- -------------------- 17.6/36.3 MB 2.2 MB/s eta 0:00:09
   ------------------- -------------------- 18.1/36.3 MB 2.2 MB/s eta 0:00:09
   -------------------- ------------------- 18.6/36.3 MB 2.2 MB/s eta 0:00:08
   --------------------- ------------------ 19.1/36.3 MB 2.2 MB/s eta 0:00:08
   --------------------- ------------------ 19.7/36.3 MB 2.3 MB/s eta 0:00:08
   ---------------------- ----------------- 20.2/36.3 MB 2.2 MB/s eta 0:00:08
   ---------------------- ----------------- 20.4/36.3 MB 2.2 MB/s eta 0:00:08
   ----------------------- ---------------- 21.0/36.3 MB 2.2 MB/s eta 0:00:07
   ----------------------- ---------------- 21.2/36.3 MB 2.2 MB/s eta 0:00:07
   ----------------------- ---------------- 21.8/36.3 MB 2.2 MB/s eta 0:00:07
   ------------------------ --------------- 22.3/36.3 MB 2.2 MB/s eta 0:00:07
   ------------------------- -------------- 22.8/36.3 MB 2.2 MB/s eta 0:00:07
   ------------------------- -------------- 23.1/36.3 MB 2.2 MB/s eta 0:00:06
   ------------------------- -------------- 23.6/36.3 MB 2.2 MB/s eta 0:00:06
   -------------------------- ------------- 23.9/36.3 MB 2.2 MB/s eta 0:00:06
   -------------------------- ------------- 24.1/36.3 MB 2.2 MB/s eta 0:00:06
   -------------------------- ------------- 24.4/36.3 MB 2.2 MB/s eta 0:00:06
   --------------------------- ------------ 24.9/36.3 MB 2.2 MB/s eta 0:00:06
   --------------------------- ------------ 25.4/36.3 MB 2.2 MB/s eta 0:00:06
   ---------------------------- ----------- 26.0/36.3 MB 2.2 MB/s eta 0:00:05
   ----------------------------- ---------- 26.5/36.3 MB 2.2 MB/s eta 0:00:05
   ----------------------------- ---------- 26.7/36.3 MB 2.2 MB/s eta 0:00:05
   ------------------------------ --------- 27.3/36.3 MB 2.2 MB/s eta 0:00:05
   ------------------------------ --------- 27.8/36.3 MB 2.2 MB/s eta 0:00:04
   ------------------------------- -------- 28.3/36.3 MB 2.2 MB/s eta 0:00:04
   ------------------------------- -------- 28.8/36.3 MB 2.2 MB/s eta 0:00:04
   -------------------------------- ------- 29.4/36.3 MB 2.2 MB/s eta 0:00:04
   -------------------------------- ------- 29.6/36.3 MB 2.2 MB/s eta 0:00:04
   -------------------------------- ------- 29.9/36.3 MB 2.2 MB/s eta 0:00:03
   --------------------------------- ------ 30.4/36.3 MB 2.2 MB/s eta 0:00:03
   --------------------------------- ------ 30.7/36.3 MB 2.2 MB/s eta 0:00:03
   ---------------------------------- ----- 31.2/36.3 MB 2.2 MB/s eta 0:00:03
   ---------------------------------- ----- 31.5/36.3 MB 2.2 MB/s eta 0:00:03
   ----------------------------------- ---- 32.0/36.3 MB 2.1 MB/s eta 0:00:03
   ----------------------------------- ---- 32.5/36.3 MB 2.1 MB/s eta 0:00:02
   ------------------------------------ --- 33.0/36.3 MB 2.2 MB/s eta 0:00:02
   ------------------------------------ --- 33.6/36.3 MB 2.2 MB/s eta 0:00:02
   ------------------------------------- -- 33.8/36.3 MB 2.2 MB/s eta 0:00:02
   ------------------------------------- -- 34.1/36.3 MB 2.2 MB/s eta 0:00:02
   -------------------------------------- - 34.6/36.3 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 35.1/36.3 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  35.7/36.3 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------  36.2/36.3 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 36.3/36.3 MB 2.1 MB/s  0:00:16
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ---------------------------------------- 4/4 [scikit-learn]

Successfully installed joblib-1.5.3 scikit-learn-1.8.0 scipy-1.17.0 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Label encoding

from sklearn.preprocessing import LabelEncoder

data = ['Low','Medium','High','Medium']

le = LabelEncoder()
encoded = le.fit_transform(data)

print(encoded)

[1 2 0 2]

In [6]:
# one hot encoding

import pandas as pd

data = pd.DataFrame({'city':['Pune','Mumbai','Delhi','Pune']})
encoded = pd.get_dummies(data)
print(encoded)

   city_Delhi  city_Mumbai  city_Pune
0       False        False       True
1       False         True      False
2        True        False      False
3       False        False       True

In [2]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("data.csv")
df

  Student  Age  Study Hours  Income  Marks   Gender
0      S1   17            2    5000     55     Male
1      S2   18            5   12000     72   Female
2      S3   17            7   25000     80   Female
3      S4   19            1    4000     50     Male
4      S5   18            6   15000     78   Female
5      S6   20            3    8000     60   Female
6      S7   21            8   30000     88     Male
7      S8   19            4   10000     65     Male

In [16]:
print(df.columns)

Index(['Student', 'Age (years)', 'Study Hours', 'Income (₹ per month)',
       'Marks (%)', ' Gender'],
      dtype='object')

In [17]:
df.column = df.columns.str.strip()

In [18]:
df[' Gender'].value_counts()

 Gender
Male      4
Female    4
Name: count, dtype: int64

Label Encoding

In [19]:
# importing the class
from sklearn.preprocessing import LabelEncoder

In [20]:
# creating an object
le = LabelEncoder()

In [21]:
newdf = df.copy()

In [22]:
newdf[' Gender'] = le.fit_transform(newdf[' Gender'])

In [23]:
newdf

  Student  Age (years)  Study Hours  Income (₹ per month)  Marks (%)   Gender
0      S1           17            2                  5000         55        1
1      S2           18            5                 12000         72        0
2      S3           17            7                 25000         80        0
3      S4           19            1                  4000         50        1
4      S5           18            6                 15000         78        0
5      S6           20            3                  8000         60        0
6      S7           21            8                 30000         88        1
7      S8           19            4                 10000         65        1

One hot encoding

In [24]:
pd.get_dummies(df)

,Age (years),Study Hours,Income (₹ per month),Marks (%),Student_S1,Student_S2,Student_S3,Student_S4,Student_S5,Student_S6,Student_S7,Student_S8,Gender_ Female,Gender_ Male
0,17,2,5000,55,True,False,False,False,False,False,False,False,False,True
1,18,5,12000,72,False,True,False,False,False,False,False,False,True,False
2,17,7,25000,80,False,False,True,False,False,False,False,False,True,False
3,19,1,4000,50,False,False,False,True,False,False,False,False,False,True
4,18,6,15000,78,False,False,False,False,True,False,False,False,True,False
5,20,3,8000,60,False,False,False,False,False,True,False,False,True,False
6,21,8,30000,88,False,False,False,False,False,False,True,False,False,True
7,19,4,10000,65,False,False,False,False,False,False,False,True,False,True